* {
    padding: 0;
}

.enterinfo {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: lightgrey;
    height: 50px;
}

.todolist {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.inpbox {
    height: 30px;
    width: 300px;
    font-size: 27px;
}

.inpbutton {
    height: 30px;
    width: 100px;
}
.button_hide{
    display: none;
}